#include <os2.h>
#include "dove.h"

/* Identification of the program icon. */

  POINTER  ID_RESOURCE  dove2.ico

/* Script for Menu Bar. */

  MENU ID_RESOURCE
    {
     SUBMENU "~File",               IDM_FILE
       {
        MENUITEM "~Open",           IDM_FILE_OPEN
        MENUITEM "~Save as",        IDM_FILE_SAVE
        MENUITEM "~Delete",         IDM_FILE_DEL
       }
     MENUITEM "~Stock",             IDM_STOCK
     MENUITEM "~Print",             IDM_PRINT
    }

/* Script for Dialog Boxes  */
DLGTEMPLATE ID_FILEDB LOADONCALL DISCARDABLE
BEGIN
      DIALOG "Design Name",ID_FILEDB,75,5,120,120,
            WS_VISIBLE, FCF_TITLEBAR
      BEGIN
        COMBOBOX "",ID_NAME,10,35,100,75
        DEFPUSHBUTTON "OK",ID_OK,14,8,40,15,WS_GROUP
        PUSHBUTTON "CANCEL",ID_CANCEL,66,8,40,15
      END
END
DLGTEMPLATE ID_SDBOX LOADONCALL DISCARDABLE
BEGIN
      DIALOG "Stock Dimensions",ID_SDBOX,75,5,150,80,
            WS_VISIBLE, FCF_TITLEBAR
      BEGIN
        RTEXT "Thickness", 0, 10, 60, 50, 8,
            SS_TEXT | DT_RIGHT | DT_BOTTOM | WS_GROUP | WS_VISIBLE
        ENTRYFIELD "3/4",ID_THICKNESS,80,60,50,10,ES_MARGIN
        RTEXT "Length", 0, 10, 45, 50, 8,
            SS_TEXT | DT_RIGHT | DT_BOTTOM |
            WS_GROUP | WS_VISIBLE
        ENTRYFIELD "5 1/2",ID_LENGTH,80,45,50,10,ES_MARGIN
        RTEXT "Units", 0, 10, 30, 50, 8,
            SS_TEXT | DT_RIGHT | DT_BOTTOM | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_UNITS,78,30,54,8,WC_SPINBUTTON,
            SPBS_ALLCHARACTERS | SPBS_MASTER |
            SPBS_SERVANT | SPBS_JUSTDEFAULT |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
        DEFPUSHBUTTON "OK",ID_OK,25,8,40,15,WS_GROUP
        PUSHBUTTON "CANCEL",ID_CANCEL,85,8,40,15
      END
END
DLGTEMPLATE ID_PARAMS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
      DIALOG "Dovetail Parameters",ID_PARAMS,4,4,312,65,
            WS_VISIBLE, FCF_TITLEBAR
      BEGIN
        CTEXT "Tail/Pin Ratio",0,5,35,90,8,
            SS_TEXT | DT_CENTER | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_TAILPINRATIO,5,43,90,17,WC_SLIDER,
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT |
            SLS_PRIMARYSCALE1 | WS_GROUP | WS_TABSTOP | WS_VISIBLE
            CTLDATA 12,0, 6,0,0,0
        CTEXT "End Pin Size",0,105,35,90,8,
            SS_TEXT | DT_CENTER | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_ENDPINSIZE,105,43,90,17,WC_SLIDER,
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT |
            SLS_PRIMARYSCALE1 | WS_GROUP | WS_TABSTOP | WS_VISIBLE
            CTLDATA 12,0, 6,0,0,0
        CTEXT "Mid/Edge Ratio",0,215,35,90,8,
            SS_TEXT | DT_CENTER | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_MIDEDGERATIO,215,43,90,17,WC_SLIDER,
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT |
            SLS_PRIMARYSCALE1 | WS_GROUP | WS_TABSTOP | WS_VISIBLE
            CTLDATA 12,0, 4,0,0,0
        RTEXT  "Num Tails",0,5,10,45,8,
            SS_TEXT | DT_RIGHT | DT_BOTTOM | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_NUMTAILS,60,10,25,8,WC_SPINBUTTON,
            SPBS_ALLCHARACTERS | SPBS_MASTER |
            SPBS_SERVANT | SPBS_JUSTDEFAULT |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CTEXT "Slope",0,105,5,90,8,
            SS_TEXT | DT_CENTER | WS_GROUP | WS_VISIBLE
        CONTROL "",ID_SLOPE,105,13,90,17,WC_SLIDER,
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT |
            SLS_PRIMARYSCALE1 | WS_GROUP | WS_TABSTOP | WS_VISIBLE
            CTLDATA 12,0, 7,0,0,0
        AUTORADIOBUTTON "Difference",ID_ADD,230,19,70,8,
            WS_TABSTOP | WS_GROUP | WS_DISABLED
        AUTORADIOBUTTON "Ratio",     ID_MULT,230,8,70,8,
            WS_TABSTOP | WS_DISABLED
    END
END
